language: python
python:
  - "3.6"
  - "3.7"
install:
  - pip install -r requirements.txt
  - pip install codecov
  - pip install sphinx
script:
  - python -m unittest discover
  - coverage run -m unittest discover

after_success:
  - codecov